body{
margin:0;
font-family:Arial, sans-serif;
background:#f0a327a0;
text-align:center;
overflow-x:hidden;
}

.hero{
padding:40px;
}

h1{
font-size:3rem;
color:#fb4a91ad;
}

.foto-principal{
width:300px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

.contador{
margin-top:50px;
color: antiquewhite;
}

#tempo{
font-size:2rem;
font-weight:bold;
color:#fb4a91ad;
}

.galeria{
padding:50px;
}

.fotos{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.fotos img{
width:250px;
height:350px;
object-fit:cover;
border-radius:15px;
transition:.3s;
}

.fotos img:hover{
transform:scale(1.1);
}

.carta{
padding:50px;
font-size:20px;
max-width:800px;
margin:auto;
color:antiquewhite;
}

.heart{
position:fixed;
top:-50px;
font-size:30px;
pointer-events:none;
z-index:9999;
animation:fall linear forwards;
}

@keyframes fall{
from{
transform:translateY(-100px);
}
to{
transform:translateY(110vh);
}
}

#playBtn{
position:fixed;
bottom:15px;
right:15px;
background:rgba(255,255,255,0.2);
backdrop-filter:blur(10px);
border:none;
border-radius:50px;
padding:12px 18px;
font-size:15px;
cursor:pointer;
color:white;
z-index:9999999;
transition:0.3s;
}

#playBtn:hover{
transform:scale(1.1);
}

#intro{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
background:
radial-gradient(circle,#300020,#000);
z-index:999999;
transition:opacity 1.5s;
animation:fundoAnimado 8s infinite alternate;

}

@keyframes fundoAnimado{
0%{
background:
radial-gradient(circle,#300020,#000);
}
100%{
background:
radial-gradient(circle,#450030,#080808);
}
}

.intro-content{
  text-align:center;
  color:white;
  padding:20px;
}

#entrar{
position:relative;
overflow:hidden;
padding:15px 25px;
border:none;
border-radius:50px;
cursor:pointer;
font-size:18px;
background:#ff2e88;
color:antiquewhite;
transition:0.3s;
}

#entrar:hover{
transform:scale(1.05);
}

#entrar::before{
content:"";
position:absolute;
top:0;
left:-120%;
width:80px;
height:100%;
background:
linear-gradient(
90deg,
transparent,
rgba(255,255,255,.8),
transparent
);

transform:skewX(-25deg);
animation:brilho 3s infinite;
}

@keyframes brilho{
100%{
left:150%;
}
}

#particles-js{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

body{
  background:
  linear-gradient(
    180deg,
    #120014,
    #290029,
    #450040
  );
}

.mensagens-secretas{
padding:80px 20px;
text-align:center;
}

.mensagens-secretas h2{
color:white;
margin-bottom:40px;
}

.coracoes{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.coracao{
font-size:50px;
cursor:pointer;
transition:0.3s;
}

.coracao:hover{
transform:scale(1.3);
}

#mensagemExibida{
margin-top:40px;
font-size:24px;
color:white;
font-weight:bold;
min-height:50px;
}

.final{
padding:120px 20px;
text-align:center;
}

.coracao-final{
font-size:80px;
animation:pulsar 2s infinite;
}

@keyframes pulsar{
0%{
transform:scale(1);
}

50%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}
}

.final h2{
color:white;
font-size:1.8rem;
padding: 0 15px;
}

.final p{
color:white;
font-size:1.2rem;
}

#mensagemExibida{
opacity:0;
transform:translateY(20px);
transition:
opacity 0.6s ease,
transform 0.6s ease;
}

#mensagemExibida.mostrar{
opacity:1;
transform:translateY(0);
}

.coracao.clicado{
animation:pulseHeart 0.6s;
}

@keyframes pulseHeart{
0%{
transform:scale(1);
}

50%{
transform:scale(1.5);
}

100%{
transform:scale(1);
}
}

.carrossel{
padding:80px 20px;
}

.carrossel h2{
color:white;
margin-bottom:40px;
}

.slider-wrapper{
display:flex;
align-items:center;
justify-content:center;
gap:20px;
perspective:1500px;
}

.slider{
display:flex;
overflow-x:auto;
scroll-behavior:smooth;
gap:15px;
padding:10px;
width: 100%;
scrollbar-width:none;
align-items:center;
}

.slider::-webkit-scrollbar{
display:none;
}

.slider img{
width:260px;
height:370px;
object-fit:cover;
border-radius:25px;
flex-shrink:0;

transition:
transform .6s ease,
filter .6s ease,
box-shadow .6s ease;

filter:brightness(.92);
box-shadow:
0 15px 40px rgba(0,0,0,.35);
}

.slider img:hover{
transform:
scale(1.08)
translateY(-10px);
filter:brightness(1.08);
box-shadow:
0 20px 60px rgba(255,105,180,.35);
z-index:10;
}

.prev,
.next{
background:
linear-gradient(
135deg,
rgba(255,255,255,.18),
rgba(255,105,180,.25)
);
backdrop-filter:blur(15px);
box-shadow:
0 8px 25px rgba(0,0,0,.3);
}

.prev:hover,
.next:hover{
transform:
scale(1.15);
box-shadow:
0 0 30px rgba(255,105,180,.45);
}

@media(max-width:768px){
.slider{
width:95%;
}

.slider img{
width:380px;
height:520px;
object-fit:cover;
object-position:center;
border-radius:20px;
flex-shrink:0;
transition:transform .4s ease;
box-shadow:0 8px 30px rgba(0,0,0,.35);
}

.prev,
.next{
width:42px;
height:42px;
font-size:22px;
}
}

.intro-heart{
font-size:90px;
animation:pulsar 2s infinite;
filter:drop-shadow(0 0 20px hotpink);
margin-bottom:20px;
}

@keyframes pulsar{
0%{
transform:scale(1);
}

50%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}
}

#textoDigitando{
font-size:30px;
min-height:80px;
margin-bottom:50px;
letter-spacing:2px;
padding:0 15px;
}

.hero p{
    color: antiquewhite;
}

.instrucao{
    color: antiquewhite;
    margin-bottom:30px;
}

#envelope{
    position:relative;
    width:220px;
    height:140px;
    margin:auto;
    cursor:pointer;
    transition:transform .4s ease;
    z-index:20;
}

#envelope:hover{
    transform:translateY(-8px) rotate(-2deg);
}

#envelope .corpo{
    position:absolute;
    width:100%;
    height:100%;
    background:#ff8db3;
    border-radius:8px;
}

#envelope .aba{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    border-left:110px solid transparent;
    border-right:110px solid transparent;
    border-top:75px solid #ff5f98;
    transform-origin:top;
    transition:.8s;
    z-index:10;
    backface-visibility:hidden;
}

#papel{
    position:relative;
    max-width:800px;
    width:90%;
    margin:40px auto 0 auto;
    background:rgba(35,20,35,.95);
    backdrop-filter:blur(12px);
    padding:25px;
    border-radius:20px;
    color:antiquewhite;
    line-height:1.8;
    font-size:18px;
    text-align:left;
    box-shadow:0 0 40px rgba(255,255,255,.12);
    opacity:0;
    transform:translateY(-60px);
    transition:
    transform .8s ease,
    opacity .8s ease;
  pointer-events:none;
  z-index:10;
}

#papel.ativo{
  opacity:1;
  transform:translateY(35px);
  pointer-events:auto;
}

@keyframes abrirEnvelope{
0%{
transform:scale(1);
}

50%{
transform:scale(1.08);
}

100%{
transform:scale(1);
}
}

.envelope-aberto{
animation:abrirEnvelope .8s ease;
}

#papel::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border-radius:20px;
box-shadow:
0 0 50px rgba(255,105,180,.18);
pointer-events:none;
}

@keyframes respirar{
0%{
transform:translateY(0px);
}
50%{
transform:translateY(-6px);
}
100%{
transform:translateY(0px);
}
}

#envelope{
animation:respirar 2.8s ease-in-out infinite;
}

#tempo{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.bloco-tempo{
    width:130px;
    padding:20px;
    border-radius:20px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    box-shadow:
    0 0 20px rgba(255,105,180,.15);
    transition:.35s;
}

.bloco-tempo:hover{
    transform:
    translateY(-8px)
    scale(1.05);
}

.bloco-tempo span{
    display:block;
    font-size:48px;
    font-weight:bold;
    color:#ff8cc8;
}

.bloco-tempo small{
    display:block;
    margin-top:8px;
    font-size:18px;
    color:antiquewhite;
    letter-spacing:1px;
}

.intro-heart,
#textoDigitando,
.intro-content{
  transition: transform 0.25s ease-out;
  will-change: transform;
  cursor: default;
}

.intro-heart:hover{
  transform: scale(1.15);
  filter: drop-shadow(0 0 35px deeppink);
}

@media (max-width:768px){
.hero h1{
    font-size:2rem;
    padding:0 15px;
    line-height:1.3;
}
.hero p{
    font-size:18px;
    padding:0 20px;
    line-height:1.6;
}
.foto-principal{
    width:90%;
    max-width:330px;
    height:auto;
}
}

#tempo{
    gap:15px;
}
.bloco-tempo{
    width:95px;
    padding:15px;
}
.bloco-tempo span{
    font-size:34px;
}
.bloco-tempo small{
    font-size:14px;
}